@font-face {
  src: url(fonts/barselona.ttf);
  font-family: barca;
}
*{
  box-sizing: border-box;
}

body{
  background-color: grey;
  color: white;
}


.peliculas{
  float: left;
  margin-left: 6%;
  position: relative;
  margin-top: 10%;
}
body {
  margin: 0;
  background-color: black;
  font-family: monospace;
  font-weight: 300;
}

.container {
  width: 80%;
  margin:0 auto;
  height: 80px;
}

.logo{
  float: left;
  width: 55px;
  height: 55px;
  padding-top: 10px 0;
}

header {
  background-color: white;

}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 75px;
  padding-top: 25px;
  position: relative;
}

nav a {
  text-decoration: none;
  color:black;
  text-transform: ;
  font-size: 16px;
  font-family: barca;
}

nav a:hover{
  color: :#000;
  text-decoration: none;
}

nav a::before{
  content: '';
  display: block;
  height: 5px;
  background-color: #000;

  position: absolute;
  top: 0;
  width:0%;
  transition: all ease-in-out 250ms;
  text-decoration: none;
}

nav a:hover::before{
  width: 100%;
  text-decoration: none;
}

.Searchbar {
  position: absolute;
  top: 5%;
  left: 40%;
  transform: translate(-50%, -50%);
  background:black;             acaaaaaaaaaaaaaaa
  height: 40px;
  border-radius: 30px;
  padding: 9px

}

.Searchbar:hover > .searchtext{
  width: 240px;
  padding: 0 6px;
  color: white;
}

.Searchbar:hover > .searchbtn{
background: white;
}

.searchbtn{
  color: #800000;
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  transition: 0.5s;

}

.searchtext {
background: none;
border: none;
float: left;
outline: none;
padding: 0;
color: white;
font-size: 16px;
transition: 0.5s;
line-height: 40px;
width: 0;
font-family: barca;
}

.i {
  float: left;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.logo{
margin-top: 10px;

}
.movie h2{
font-family: barca;
font-size: 25px;
}
.movie h2:hover{
transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}

.mostrar{
  display: run-in;
}
.ocultar{
  display: none;
}


.addBtn{
color: #DB020D;
position: absolute;
top: 160px;
font-size: 40px;\

}

.movie a{
  font-family: barca;
color: #DB020D;
}
.movie strong{
  font-family: barca;
  color: #DB020D;
}
.movie p{
  color: yellow;
  font-family: barca;
}
/* CSS FOOTER*/
.footer{
    clear: both;
    position: relative;
    height: 8%;
    margin-top: -200px;
    background-color: white;
    color: black;
    font-family: barca;
  }

.nombes{
  width: 50%;
}

.fotofooter{
  width: 65px;
  position: absolute;
  top: 0px;
  right: 5px;
}
.logofooter{
  width: 4%;
  position: absolute;
  top: 0px;
  left: 52%;
}
.titulofooter{
  text-align: center;

}
